#NoIDid {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.NotGet {
  color: #800080;
  background-color: #00b3b3;
  padding: 10px;
  width: 100%;
}

.MyMoneys {
	color: #00b3b3;
	background-color: #b30000;
	padding: 10px;
	width: 100%
}

.Worth{
  color:  #b30000;
  background-color: #b35a00;
  padding: 10px;
  width: 100%
}