html {
	font-size: 14px;
}

#navmenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	overflow: hidden;
	background-color: #003b6f;
    border-bottom: 2px solid black;
	font-size: 1.5em;
}

li {
	float: left;
	border-right: 2px solid black;
}

li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: white;
}

.title {
	text-align: center;	
}

.info {
	font-size: 2em;
}

.DoctorWho {
    width: 300px;
    height: 200px;
}

div {
	border: 2px solid black;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 12px;
}

p {
	font-size: 1.5em;
}

#photoone {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#phototwo {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#photothree {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#photofour {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#photofive {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#photosix {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#photoseven {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#photoeight {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#photowar {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;	
}

#photonine {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#phototen {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#photoeleven {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#phototwelve {
	float: left;
	padding: 10px;
	display: inline-block;
	text-align: center;
}