* {
    background-color: #c8a2c8
    }
    
.header1 {
    font-family: Times New Roman, serif;
    color: #4e844e;
    font-size: 18px;
    text-align: center;
}

.header2 {
    font-family: Times New Roman, serif;
    color: #4e844e;
    font-size: 14px;
    text-align: center;
}

.list {
    font-family: Times New Roman, serif;
    font-size: 12px;
    color: #4e844e;
}