img {
    float: left;
    margin: 0 0 10px 10px;
    width: 500px;
    height: 300px;
}


#navmenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	overflow: hidden;
	background-color: #003b6f;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

li {
	float: left;
    border-right: 2px solid black;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: yellow;
}